<html>
<head>

</head>

<body>
<table>
<th>
<label>
Fullname
</label>
</th>
<th>
<input> 
</th>
<tr>
<th>
<label>
Email
</label>
</th>
<th>
<input>
</th>
</tr>
<tr>
<th>
<label>
Username
</label>
</th>
<th>
<input> 
</th>
</tr>
<tr>
<th>
<label>
Password
</label>
</th>
<th>
<input type = "password"> 
</th>
</tr>

</table>
<button class="button button1">Register</button>
</body>
<style>
.button {

    border: none;

    color: white;

    padding: 16px 32px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    margin: 4px 2px;

    transition-duration: 0.4s;

    cursor: pointer;

   

  }

 

  .button1 {

    background-color: #2a0000;

    color: white;

    

  }

 

  .button1:hover {

    background-color: #611d02;

    color: white;

  }
</style>
</html>
