
<h1>Passenger Details</h1>
<table class="center">
    <tr>
        <td>
            <label>Name</label>
        </td>
        <td>
            <input>
        </td>
    </tr>
     <tr>
        <td>
            <label>Date of Birth</label>
        </td>
        <td>
            <input type="Date">
        </td>
   
    </tr>
<tr>
        <td>
            <label>Gender</label>
        </td>
        <td>
            <select>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Transgender">Transgender</option>
            </select>
        </td>
    <tr>
        <td>
            <label>Email ID</label>
        </td>
        <td>
            <input>
        </td>
   
    </tr>
    
    
    <tr>
        <td>
            <label>Phone Number</label>
        </td>
        <td>
            <input>
        </td>
   
    </tr>
   
    
   
   
   
    <tr>
        <td>
            <label>Passenger ID</label>
        </td>
        <td>
            <input>
        </td>
   
    </tr>
</table>
<button class="button button1">Submit</button>
<style>
    .button {
    
        border: none;
    
        color: #2a0000;
    
        padding: 16px 32px;
    
        text-align: center;
    
        text-decoration: none;
    
        display: inline-block;
    
        font-size: 16px;
    
        margin: 4px 2px;
    
        transition-duration: 0.4s;
    
        cursor: pointer;
    
       
    
      }
    
     
    
      .button1 {
    
        background-color: #2a0000;
    
        color: #fcfcfc;
    
        
    
      }
    
     
    
      .button1:hover {
    
        background-color: #611d02;
    
        color:#611d02;
    
      }
    </style>