<html>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
       
        
        <a href="#ViewTicket">View Tickets</a>
        <a href="#contact">Contact</a>
    
        
        <div class="topnav-right">
          <a href="#Login">Login</a>
          <a href="#Register">Register</a>
        </div>
      </div>
<head>
<h1>Reservation Details</h1>
</head>
<body>
<table class="center">
    <tr>
        <td>
            <label>Name</label>
        </td>
        <td>
            <input>
        </td>
    </tr>
     <tr>
        <td>
            <label>PNR</label>
        </td>
        <td>
            <input>
        </td>
   
    </tr>

    <tr>
        <td>
            <label>Class</label>
        </td>
        <td>
            <input>
        </td>
   
    </tr>
    
    
    <tr>
        <td>
            <label>train Number</label>
        </td>
        <td>
            <input>
        </td>
   
    </tr>
   
    
   
    <tr>
        <td>
            <label>Phone Number</label>
        </td>
        <td>
            <input>
        </td>
   
    </tr>
<tr>
        <td>
            <label>Email ID</label>
        </td>
        <td>
            <input>
        </td>
   
    </tr>
   
    <tr>
        <td>
            <label>Passenger ID</label>
        </td>
        <td>
            <input>
        </td>
   
    </tr>
</table>
</body>
<html>

